{% extends "blog/base.html" %}   
{% block content %} 
<div class="container col-md-6">
    <div class="card-wrapper">
        <div id="card-1" class="card card-rotating text-center">
            <div class="face front">
                <div class="card-up">
                    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/photo7.jpg" alt="Image with a photo of clouds.">
                </div>
                <div class="avatar mx-auto white"><img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20).jpg" class="rounded-circle"
                    alt="Sample avatar image.">
                </div>
                <div class="card-body">
                    <h4 class="font-weight-bold mb-3">Marie Johnson</h4>
                    <p class="font-weight-bold blue-text">Web developer</p>
                    <a class="rotate-btn" data-card="card-1"><i class="fas fa-redo-alt"></i> Click here to rotate</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}